<% provide(:title, 'Sequitur Clock Sign In') %>
<div class="row section">
  <div class="large-6 columns">
    <h3>Sign In</h3>
  </div>
</div>

<div class="row section">
  <div class="large-6 columns">
    <%= form_for(:session, url: sessions_path) do |f| %>
    
      <%= f.label :email %>
      <%= f.text_field :email %>
    
      <%= f.label :password %>
      <%= f.password_field :password %>
    
      <%= f.submit "Sign in", class: "button [radius round]" %>
    <% end %>
  </div>
</div>