<% provide(:title, @user.name + ' is on Sequitur Clock') %>
<div class="row section">
  <div class="large-6 columns">
    <h3><%= @user.name %> </h3>
    <p><%= @user.email %></p>
  </div>
</div>

<div class="row section">
  <div class="large-12 columns">
    <h4>Efforts</h4>
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Date</th>
          <th>Rate</th>
          <th>Hours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
<% @efforts.each do |effort| %>
        <tr>
          <td><%= link_to effort.project.full_name, client_project_path(effort.project.client, effort.project) %></td>
          <td><%= pretty_date(effort.performed_on) %></td>
          <td><%= effort.rate %></td>
          <td><%= effort.hours %></td>
          <td><%= link_to "Delete", effort_path(effort), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>
</div>
