<% provide(:title, 'Editing' + @client.name + ' on Sequitur Clock') %>
<div class="row section">
  <div class="large-6 columns">
    <h3><%= @client.name %></h3>
  </div>
</div>

<div class="row section">
  <div class="large-6 columns">
    <%= form_for(@client) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>
    
      <%= f.check_box :is_active %>
      <%= f.label :is_active %>
        
      <%= f.submit "Save", class: "button [radius round]" %>
    <% end %>
  </div>
</div>