<% provide(:title, @client.name + ' on Sequitur Clock') %>
<div class="row section">
  <div class="large-6 columns">
    <h3><%= @client.name %></h3>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    Currently 
    <% if @client.is_active %> 
      (Active) | <%= link_to 'Deactivate', toggle_activation_client_path(@client), :method => :post %>
    <% else %>
      (Inactive) | <%= link_to 'Activate', toggle_activation_client_path(@client), :method => :post %>
    <% end %> 
    | <%= link_to "Edit", edit_client_path(@client) %>
  </div>
</div>

<div class="row section">
  <div class="large-12 columns">
    <h4>Projects</h4>
  </div>
  <div class="large-12 columns">
    <ul class="large-block-grid-3">
    <% @projects.each do |project| %>
      <li>
        <div class="databox">
          <h4><%= link_to project.name, client_project_path(@client, project) %></h4>
          <h1><%= duration_to_hours project.efforts.sum(:duration) %> hrs</h1>
          <p class="actions"><%= link_to "Delete", [@client, project], method: :delete, data: { confirm: 'Are you sure?' } %>  deactivate</p>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row section">
  <div class="large-6 columns">
    <h4>Add new project</h4>
  </div>
</div>

<%= form_for([@client, @client.projects.build]) do |f| %>
<div class="row">
  <div class="large-6 columns">
      <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div class="large-4 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>
  <div class="large-3 columns">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, :value => Time.now.strftime("%Y-%m-%d") %>
  </div>
  <div class="large-2 columns end">
      <br />
      <%= f.check_box :is_active %>
      <%= f.label :is_active %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
      <%= f.submit "Create a new project", class: "button [radius round]" %>
  </div>
</div>
<% end %>
