<% provide(:title, 'Projects on Sequitur Clock') %>
<div class="row section">
  <div class="large-6 columns">
    <h3>All Projects</h3>
  </div>
</div>

<div class="row section">
  <div class="large-12 columns">
    <ul class="large-block-grid-3">
    <% @projects.each do |project| %>
    <% @client = project.client %>
      <li>
        <div class="databox">
          <h4><%= @client.name  %> <%= link_to project.name, client_project_path(@client, project) %></h4>
          <h1><%= duration_to_hours(project.efforts.sum(:duration)) %> hrs</h1>
          <p class="actions">
              <% if project.is_active %> 
      <%= link_to 'Deactivate', toggle_activation_project_path(project), :method => :post %>
    <% else %>
      <%= link_to 'Activate', toggle_activation_project_path(project), :method => :post %>
    <% end %> | <%= link_to "Delete", [@client, project], method: :delete, data: { confirm: 'Are you sure?' } %> </p>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>

