<% provide(:title, 'Sequitur Clock Users') %>
<div class="row">
  <div class="large-6 columns">
    <h3><%= link_to @project.client.name, @project.client %> <%= @project.name %></h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Efforts</h4>
    <table>
      <thead>
        <tr>
          <th>Craftsman</th>
          <th>Date</th>
          <th>Rate</th>
          <th>Hours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
<% @efforts.each do |effort| %>
        <tr>
          <td><%= link_to effort.user.name, user_path(effort.user) %></td>
          <td><%= pretty_date(effort.performed_on) %></td>
          <td><%= effort.rate %></td>
          <td><%= effort.hours %></td>
          <td><%= link_to "Delete", effort_path(effort), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>
</div>
