<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Sequitur Clock" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>Sequitur Clock</h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to "Projects", "#" %></li>
          <li><%= link_to "Clients", "#" %></li>
          <li><%= link_to "People", "#" %></li>
          <% if signed_in? %>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <div class="container">
      <div class="large-12 columns">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="large-12 columns">
        <%= yield %>
      </div>
      <div class="large-12 columns">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>